.about-content {
    padding: 0px 10px 10px 10px;
}

.history-wrapper p strong {
    font-weight: 700;
    font-size: 24px;
    font-family: var(--font-family);
    text-align: justify;
}

.history-wrapper span {
    font-weight: 400;
    font-size: 16px;
    font-family: var(--font-family);
    text-align: justify;
}

.table-wrapper {
    padding: 30px 12px 20px 12px;
}

#about-table td {
    padding: 0 20px 0 0;
    border: 0;
}

.factory-image-container {
    padding: 10px 12px 10px 12px;
}