.navbar-collapse {
    justify-content: center;
}

.nav-link {
    font-weight: 700;
    font-size: 14px;
    font-family: var(--font-family);
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}